*{
    font-family: 'Bakbak One', cursive;
}
.container{
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
:root {
    --principal: #ff0000;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
}
.flex-item1{
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.calculator-contenedor{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
    border-radius: 25px;
    z-index: 2;
    align-items: center;
}
.calculator-botones{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    flex-basis: 2em;
    height: 800px;
    width: 220px;
}
.calculator-bottom{
    width: 40px;
    height: 30px;
    border: 2px solid var(--principal);
    margin: 4px;
}
.title-resultado{
    color: var(--principal);
    border-bottom: 4px solid var(--principal);
    font-size: 35px;
}

.gov{
    background-color: rgba(211, 211, 211, 0.952);
    height: 30px;
    width: 220px;
    margin-bottom: 12px;
    border: 5px dashed var(--principal);
    font-size: 25px;
}
.modal-background{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
    align-items: center;
    justify-content: center;
}
.modal-caja{
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    background: #ff0000d1;
    height: 450px;
    width: 800px;
    margin: auto;
    text-align: center;
}
.modal-text{
    color: white;
    font-size: 50px;
    border-bottom: 2px solid rgb(221, 221, 221);
}
p{
    color: white;
    font-size: 16px;
}
.closemodal{
    font-size: 20px;
    background-color: red;
    color: white;
    border: none;
    border: 2px solid #fff;
}
.closemodal:hover{
    background-color: green;
}
.calculator-bottom:hover{
    background-color: red;
}